.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
images/**
!images/resources
package-json.lock